{% extends 'master.html' %}

{% block title %}Encontrar cursos{% endblock %}

{% block content %}

<h1>Cursos disponibles</h1>

<div class="container fluid" style="margin: 2%;">
    <div class="row py-3 ">        
        <div class="col" id="main" style="background-color: light-grey;">
            {% for result in cursos %}
                <div class="card mb-3 border-3 shadow rounded" style="border-color: grey;" >
                    <div class="row g-0">
                        <div class="col-md-3 text-fill">
                            <img src="{{ result.3 }}" class="img-fluid card-img-left" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h3 class="card-title">{{ result.0 }}</h3>
                                <p class="card-text"><small class="text-muted">Inicio de clases : {{ result.1 }}</small></p>
                                <p class="card-text"><small class="text-muted">Fin de clases : {{ result.2 }}</small></p>
                                <div class="text-end">
                                    <a class="btn btn-primary" href="#" role="button">Saber más</a>
                                </div>                    
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-banner text-start" style="max-height: 30px;background-color: rgb(237, 247, 250);">
                        <div class="fade alert-content text-light mb-0 show">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                              </svg>
                            <small class="text-muted" >Nota requerida para aprobar el curso: {{ result.4 }}</small>        
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> 
    </div>

{% endblock %}
